.burger-button {
  @include flex-center;

  z-index: 1;
  flex-direction: column;
  row-gap: 7px;
  padding: 0;
  background-color: transparent;
  border: none;

  @include square(44px);

  @include hover {
    span {
      background-color: var(--color-dark-100);
    }
  }

  span {
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
    border-radius: 15px;
    transition-duration: var(--transition-duration);
  }

  &.is-active {
    span:first-child {
      transform-origin: 0;
      rotate: 45deg;
    }

    span:nth-child(2) {
      width: 0;
    }

    span:last-child {
      transform-origin: 0;
      rotate: -45deg;
    }
  }
}
