.sponsors {
  &__block {
    display: grid;
    row-gap: fluid(55, 40);

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: fluid(68, 30) 68px;

      @include tablet {
        flex-direction: column;
      }
    }

    &-item {
    }

    &-img {
    }
  }

  &__link {
    justify-self: center;
  }
}
